@using Online_Commercial_Authomation.Models.Classes
@model List<Category>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<table class="table table-bordered" style="margin-top:20px">
    <tr>
        <th>ID</th>
        <th>CATEGORY NAME</th>
        <th>DELETE</th>
        <th>UPDATE</th>
    </tr>

    @foreach (var category in Model)
    {
        <tr>
            <td>@category.CategoryId</td>
            <td>@category.CategoryName</td>
            <td><a href="/Category/CategoryDelete/@category.CategoryId" class="btn btn-danger">DELETE</a></td>
            <td><a href="/Category/CategoryFind/@category.CategoryId" class="btn btn-info">UPDATE</a></td>

        </tr>
    }

</table>


<a href="/Category/CategoryAdd" class="btn btn-success"><b>ADD NEW CATEGORY</b></a>